:root {
  --gary1: #F7F7F7;
  --gary2: #ECECEC;
  --gary3: #C4C4C4;
  --gary4: #A4A4A4;
  --gary5: #7A7A7A;
  --gary6: #5F5F5F;
  --gary7: #4A4A4A;

  --mildBlack: #343434;
  --bgWhite: #FFFEFC;
  --mainYellow: #FFD358;
  --gageYellow: #FFE28F;
}